@use 'base/variables' as v;
@use 'base/mixins' as m;

.modal {
  background-color: rgb(0 0 0 / .8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .formulario {
    background-color: v.$blanco;
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem;
    transform: translateY(-30rem);

    &.animar {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
